li {
    list-style: none;
  }
footer {
    text-align: center;
    font-size: 10px;
  }
.container {
    padding: 20px;
    margin: 80px auto;
    border: 2px solid #dadde1;
    max-width: 700px;
    border-radius: 5px;
  }
.current-location {
    text-align: center;
  }
.current-weather-icon {
    padding: 15px;
    margin-left: 20px;
    font-size: 64px;
  }
.current-conditions {
    text-align: left;
    line-height: 2em;
  } 
  .line-break {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
  }
.card {
    text-align: center;
    border: none;
  }
  .temperature {
    font-size: 56px;
    font-weight: 500;
    color: black;
  }
  .temperature, .active { 
    cursor: default;
    color: black;
    text-decoration: none;
    }
  .temperature, .active:hover {
    text-decoration: none;
  }
.units {
    font-size: 16px;
    position: relative;
    top: -23px;
    margin-left: -16px;
    text-decoration: none;
  }
.last-updated {
  padding: 32px;
}
#weather-type {
  text-transform: capitalize;
}
#sun li {
  display: inline;
  padding-right: 10px;
  padding-left: 5px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.ahead-day {
  font-size: 16px;
}
.ahead-low {
  opacity: 0.5;
}
.ahead-high {
  font-size: 16px;
}